<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>CovidProject</display-name>
  <welcome-file-list>
    <welcome-file>covidinfo.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>registrartion.jsp</welcome-file>
    <welcome-file>stateadmin.jsp</welcome-file>
    <welcome-file>stateadmindashboard.jsp</welcome-file>
    <welcome-file>superadmindashboard.jsp</welcome-file>
    <welcome-file>style.css</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>com.example.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>re</servlet-name>
    <servlet-class>com.example.ReServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>re</servlet-name>
    <url-pattern>/re</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>verifyusers</servlet-name>
    <servlet-class>amit.VerifyUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyusers</servlet-name>
    <url-pattern>/verifyusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stateadminservlet</servlet-name>
    <servlet-class>com.example.StateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stateadminservlet</servlet-name>
    <url-pattern>/stateadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>verifystateadminservlet</servlet-name>
    <servlet-class>com.example.VerifyStateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifystateadminservlet</servlet-name>
    <url-pattern>/verifystateadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStateadmin</servlet-name>
    <servlet-class>com.example.UpdateStateadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStateadmin</servlet-name>
    <url-pattern>/updatestateadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewInfoByOwnState</servlet-name>
    <servlet-class>com.example.ViewInfoByOwnState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInfoByOwnState</servlet-name>
    <url-pattern>/viewinfobyownstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>covidinfoservlet</servlet-name>
    <servlet-class>com.example.CovidInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>covidinfoservlet</servlet-name>
    <url-pattern>/covidinfoservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sessionlogoutservlet</servlet-name>
    <servlet-class>com.example.SessionLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionlogoutservlet</servlet-name>
    <url-pattern>/sessionlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verifyusers1</display-name>
    <servlet-name>verifyusers1</servlet-name>
    <servlet-class>amit.verifyusers1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyusers1</servlet-name>
    <url-pattern>/verifyusers1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stateadminservlet1</display-name>
    <servlet-name>stateadminservlet1</servlet-name>
    <servlet-class>stateadminservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stateadminservlet1</servlet-name>
    <url-pattern>/stateadminservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>covidinfoservlet1</display-name>
    <servlet-name>covidinfoservlet1</servlet-name>
    <servlet-class>covidinfoservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>covidinfoservlet1</servlet-name>
    <url-pattern>/covidinfoservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewownstate</display-name>
    <servlet-name>viewownstate</servlet-name>
    <servlet-class>viewownstate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewownstate</servlet-name>
    <url-pattern>/viewownstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatestateadmin1</display-name>
    <servlet-name>updatestateadmin1</servlet-name>
    <servlet-class>updatestateadmin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestateadmin1</servlet-name>
    <url-pattern>/updatestateadmin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userupdate</display-name>
    <servlet-name>userupdate</servlet-name>
    <servlet-class>userupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userupdate</servlet-name>
    <url-pattern>/userupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchdata</display-name>
    <servlet-name>searchdata</servlet-name>
    <servlet-class>searchdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchdata</servlet-name>
    <url-pattern>/searchdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
</web-app>